body{
    background-color: #69B99D;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px ;
}
.main{
    

     background-color: white;
            margin: 40px ; 
            padding: 20px;
           
            height: 78vh;
            width: 80vw;
            max-width: 1200px;

          margin: 0 auto;
          

}
.head{
   display: flex;
   align-items: center;
   justify-content: space-between;
  padding: 10px 40px;
   margin-left: 40px;
}
nav{
    display: flex;
    gap: 30px;
    margin-right: 40px;
}

nav a {
            text-decoration: none;
            color: #1F1534;
            font-weight: 500;
        }

        
        nav a[href="#"]:first-child {
        
            font-weight: bold;
        
        }

        nav a:hover {
            background-color:white }


.middle{
 
   display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;

}


.main {
    overflow: hidden; /
}

.right{
     overflow: hidden

}
.fitness-image{

    max-height: 400px;
    max-width: 100%;
    margin-right: 60px;
}
.left{
    
    margin: 30px;
    padding-left: 40px;
}

.footer{
    display: flex;
    justify-content: center;
}

button  {
    color: white;
  background:#69B99D;
  border: none;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.whatsapp{
     width: 20px;
  height: 20px;
}

/* Define font-face */
@font-face {
  font-family: 'YourFont';
  src: url('Mulish-ExtraLight.woff2') format('woff2');
  font-weight: 400;  
  font-style: normal;
}
nav{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
}
h1{
     font-family: 'Mulish', sans-serif;
    font-weight: 100;
    size: 48px;
    line-height: 150%;
    text-transform: uppercase;
    
}
.exclusive{
 color: #69B99D;
}
@font-face {
    font-family: 'open san';
    src: url(OpenSans-Regular.woff2) format('woff2');
}
p{
    color: #7D7987;
      font-family: 'open san';
      font-weight: 400;
      size: 16px;
      line-height: 169%;

}
.mail{
    color: #000000;
    font-family: 'open san';
    font-weight: 700;
    size: 14px;
    line-height: 160%;
    letter-spacing: 0;
    
}
footer{
    font-family: 'open san';
   
   
}
button:hover{
    background-color:#128C7E ;
    cursor: pointer;
}
.last{
    display: flex;

   
}

